h1{
    font-family: Arial, Helvetica;
    font-style: normal;
    color: darkolivegreen;
}
h2{
    font-family: Arial, Helvetica;
    font-style: normal;
    color: darkred;
}
h3{
    font-family: Arial, Helvetica;
    font-style: normal;
    color: darkslategray;
}

ul.lista1{
    color: darkgoldenrod;;
}
ul.lista2{
    color:darkgoldenrod;;
}
ul.lista3{
    color: darkred;
}
#bg{
    background-color: moccasin;
    height: 400px;
}
.img{
    height: 350px;
    width: 500px;
    margin: 20px 0 0 750px;
}